# Git
.git/

# Github
.github/

# Docker files
Dockerfile
.dockerignore

docker-compose.yml
docker-compose.d/

#
# Everything below is just a copy of .gitignore
#

# IDE artifacts
.vscode/

# built executable
api-broker-prototype
