# Git
.git/

# Github
.github/

# Docker files
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.d/
.env

# documentation
README.md

#
# Everything below is just a copy of .gitignore
#

# IDE artifacts
.vscode/

# vendored Go packages
vendor/

# built executables
cmd/broker/broker

# local environment and overrides for docker-compose.yml
docker-compose.override.yml
.env
