# Git
.git/

# Github
.github/

# Docker files
Dockerfile
.dockerignore

docker-compose.yml
docker-compose.d/

#
# Everything below is just a copy of .gitignore
#

# IDE artifacts
.vscode/

# vendored Go packages
vendor/

# built executable
api-broker-prototype

# local overrides for docker-compose.yml
docker-compose.override.yml
